header {
    color: #202329;
    font-size: 18px;
    font-weight: bolder;
    margin-left:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .logo {
    max-height: 50px;
    }
    
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      margin-right: 30px;
      align-items: center;
    }
    li  {
        padding-left: 10px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    i {
      display:none;
    }